/***  CSS pour maquette « Cachette »  ***/
/***            Modèle n°5            ***/

#dockImg, #tranche, #quadCouv {
    background-color: #f5e6c7;
}

#lImage {
    height: 300px;
    width: 300px;
    position: relative;
    left: 140px;
    top: 350px;
    border: 5px solid #b91e22;
}

#lAuteur {
    position: absolute;
    top: 90px;
    width: inherit;
}

#auteur {
    margin: 0;
    text-align: center;
    width: inherit;
    display: block;
    font-size: 26px;
}

#leTitre {
    position: absolute;
    top: 185px;
    width: inherit;
    text-align: center;
}

#ligne1, #ligne2 {
    display: block;
    margin: 0;
    text-align: center;
    width: inherit;
    font-size: 40px;
    line-height: 35px;
}

#lEditeur {
    position: absolute;
    bottom: 50px;
    width: inherit;
}

#edition {
    margin: 0;
    text-align: center;
    width: inherit;
    display: block;
    font-size: 16px;
}

#lauteurTranche {
    width: 200px;
    position: absolute;
    float: left;
    top: 0;
    right: 0;
    height: 96px;
	text-align: center;
}

#auteurTranches {
    height: 100px;
    line-height: 100px;
    font-size: 20px;
    text-transform: capitalize;
    padding: 0;
    margin: 0;
}

#leTitreTranche {
    height: 96px;
    width: 530px;
    position: relative;
    left: 70px;
}

#titreTranches {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 30px;
    line-height: 96px;
}

#editeurTranche {
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;

    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.Matrix(
            sizingMethod='auto expand',
            M11=0.699,
            M12=-0.630,
            M21=0.630,
            M22=0.699
    ); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix( SizingMethod='auto expand', M11=0.699,
    M12=-0.630,
    M21=0.630,
    M22=0.699) ";  /* IE8 */ background-color : #666;
}

#editionTranches {
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}

#editionTranches {
    text-align: center;
    font-size: 14px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    padding: 0;
    margin: 0;
}

#imgEdTranche {
    display: none;
}

#lAuteurQuad {
    position: absolute;
    top: 50px;
    width: inherit;
}

#auteurQuad {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 20px;
}

#leTitreQuad {
    position: absolute;
    top: 80px;
    width: inherit;
}

#titreQuad {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 26px;
}

#lEditeurQuad {
    bottom: 20px;
    left: 30px;
    position: absolute;
}

#editionQuad {
    margin: 0;
    padding: 0;
    text-align: center;
    width: inherit;
    display: block;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
}

#imgEdQuad {
    position: relative;
    top: -103px;
    left: 488px;
    display: none;
}

#resume {
    margin: 0 80px;
    position: absolute;
    top: 140px;
    width: 440px;
}

#r1, #r3, #r4 {
    margin: 0;
    padding: 0;
    text-align: justify;
    font-size: 16px;
}

#r2 {
    display: block;
    width: 600px;
    height: 250px;
    background-color: #F00;
    position: relative;
    bottom: -330px;
    left: -80px;
}

#r4 {
    font-style: italic;
    text-align: right;
    /*padding-top: 40px;*/
}

#bio {
    margin: 0 80px;
    position: absolute;
    top: 300px;
    width: 440px;
}

#txtBio {
    margin: 0;
    padding: 0;
    text-align: justify;
    font-size: 14px;
    font-style: italic;
}

#avis {
    margin: 0 80px;
    position: absolute;
    bottom: 170px;
    width: 440px;
}

#txtAvis {
    margin: 0;
    padding: 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #fefefe;
    display: block;

}

#txtCritique {
    margin: 0;
    padding: 0 20px 5px 0;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #fff;
    font-style: italic;
}

#codes {
    position: absolute;
    top: 635px;
    width: 162px;
    padding-left: 400px;
}

#isbn {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #fff;
}

#credifoto {
    position: absolute;
    bottom: 60px;
    padding-left: 30px;
    width: 350px;
    overflow: hidden;
}

#credit {
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #fff;
    font-style: italic;
}

#credit a, #credit a:active, #credit a:hover, #credit a:visited {
    text-decoration:  none;
    color: #999;
}

#auteur, #ligne1, #ligne2, #edition, #auteurTranches, #titreTranches, #editionTranches, #auteurQuad, #titreQuad, #r1, #r3, #r4, #txtBio {
    font-family: 'Times New Roman', Times, serif;
    color: #b91e22;
}