/*** CSS pour maquette « Faulio » ***/
/***          Modèle n°2          ***/

#lAuteur {
    position: absolute;
    top: 20px;
    width: inherit;
}

#auteur {
    margin: 0;
    text-align: center;
    width: inherit;
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    background-color: transparent;
    color: #fff;
    text-shadow: 3px 3px 1px #000;
    text-transform: capitalize;
}

#leTitre {
    position: absolute;
    top: 620px;
    width: inherit;
}

#ligne1, #ligne2 {
    background-color: transparent;
    color: #fff;
    font-family: "Nunito", sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    text-align: center;
    text-shadow: 5px 5px 2px #000;
    text-transform: uppercase;
    width: inherit;
}

#lEditeur {
    position: absolute;
    top: 755px;
    width: inherit;
}

#edition {
    margin: 0;
    text-align: center;
    width: inherit;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: transparent;
    color: #fff;
    text-shadow: 2px 2px 0 #000;
}

#leTitreTranche {
    height: 96px;
    width: 800px;
    position: relative;
}

#titreTranches {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    line-height: 96px;
    color: #fff;
    text-shadow: 3px 3px 1px #000;
}

#lauteurTranche {
    width: 150px;
    position: absolute;
    float: left;
    top: 0;
    left: 30px;
    height: 100px;
}

#auteurTranches {
    height: 100px;
    line-height: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #fff;
    text-transform: capitalize;
    padding: 0;
    margin: 0;
}

#editeurTranche {
    width: 150px;
    position: absolute;
    float: left;
    top: 0;
    right: 30px;
    height: 100px;
}

#editionTranches {
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #fff;
    height: 100px;
    line-height: 100px;
    padding: 0;
    margin: 0;
}

#imgEdTranche {
    display: none;
    width: 75px;
    position: absolute;
    float: left;
    top: 0;
    right: 0;
    margin: 12px;
}

#lAuteurQuad {
    position: absolute;
    top: 100px;
    display: none;
}

#auteurQuad {
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: 50px;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    color: #999;
}

#leTitreQuad {
    display: none;
    position: absolute;
    top: 120px;
}

#titreQuad {
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: 50px;
    font-family: 'Nunito', sans-serif;
    font-size: 26px;
    color: #fff;
}

#lEditeurQuad {
    position: absolute;
    bottom: 40px;
    right: 0;
    width: 400px;
    text-align: center;
}

#editionQuad {
    background-color: transparent;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    text-align: center;
}

#imgEdQuad {
    position: relative;
    top: -203px;
    left: 488px;
    display: none;
}

#resume {
    border: 1px solid #666;
    display: block;
    margin: 0 40px;
    padding: 10px;
    position: absolute;
    top: 130px;
    width: 480px;
}

#r1, #r3, #r4 {
    margin: 0;
    padding: 0;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #fff;
}

#r2 { display: none; }

#r4 {
    background: none repeat scroll 0 0 #f00;
    border: 1px solid #f00;
    display: block;
    font-size: 16px;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: -90px;
    left: 0;
    width: inherit;
}

#bio {
    border: 1px solid #666;
    display: block;
    margin: 0 40px;
    padding: 10px;
    position: absolute;
    top: 460px;
    width: 480px;
}

#txtBio {
    margin: 0;
    padding: 0;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #fff;
    font-style: italic;
}

#avis {
    background-color: #bbb;
    border: 1px solid #bbb;
    margin: 0 40px;
    padding: 10px;
    position: absolute;
    top: 305px;
    width: 480px;
}

#txtAvis {
    margin: 0;
    padding: 5px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #fff;
    display: block;
}

#txtCritique {
    margin: 0;
    padding: 0 20px 0 0;
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    color: #000;
    font-style: italic;
}

#codes {
    position: absolute;
    bottom: 10px;
    width: 162px;
    padding-left: 40px;
}

#isbn {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #fff;
}

#credifoto {
    position: absolute;
    bottom: 100px;
    right: 0;
    width: 400px;
    text-align: center;
}

#credit {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #fff;
    font-style: italic;
}

#credit a, #credit a:active, #credit a:hover, #credit a:visited {
    text-decoration:  none;
    color: #999;
}