@charset "utf-8";
/* CSS Document */

html, body {
	height: 100%;
	padding: 0;
	margin: 0;
    background: #969696 url(images/texture_papier.jpg) 0 0 repeat;
}

#enveloppe {
    min-height: 100%;
    position: relative;
}

h1 {
	margin: 0 auto;
	text-align: center;
	font-family: 'Chau Philomene One', sans-serif;
    background: #5f5f5f url(images/trame_gc.png) 0 0 repeat;
}

footer {
	width: 100%;
    padding-top: 15px;
    height: 65px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	position: absolute;
	bottom: 0;
    left: 0;
    background: #5f5f5f url(images/trame_gc.png) 0 0 repeat;
	clear: both;
}

#alt_foot {
    padding-top: 15px;
    height: 65px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background: #5f5f5f url(images/trame_gc.png) 0 0 repeat;
    clear: both;
}

footer a, #alt_foot a, #explications a{
    color: #fff;
    text-decoration: none;
}

footer a:hover, #alt_foot a:hover, #explications a:hover {
    color: #2d2d2d;
}

#contenu {
	width: 100%;
	padding: 0 0 80px 0;
	margin: 0;
}

#couverture, #explications {
	margin: 20px auto;
	width: 1230px;
}

#explications h3 {
	margin: 0;
	padding-left: 30px;
	text-align: 100%;
	display:block;
	font-family: 'Nunito', sans-serif;
	font-size: 26px;
	background-color: #666;
	color: #fff;	
}

#explications h3:before {
	color: #999;
	content: "» ";
}

#explications p, #explications ul li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}

#explications p {
	padding: 0 20px;
	text-indent: 20px;
}

#explications ul li {
	margin: 5px 50px 0 50px;
}

#reboote {
	position: absolute;
	top: 45px;
    left: -205px;
    /*left: -5px;*/
    height: 100px;
    width: 200px;
    background-color: #737373;
	display: none;
	margin: 0 auto;
    padding-top: 20px;
	clear: both;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 2px solid #000;

    -webkit-box-shadow: 2px 6px 5px 0px rgba(50, 50, 50, 0.4);
    -moz-box-shadow:    2px 6px 5px 0px rgba(50, 50, 50, 0.4);
    box-shadow:         2px 6px 5px 0px rgba(50, 50, 50, 0.4);

    -webkit-transition: left 1s;
    -moz-transition: left 1s;
    -ms-transition: left 1s;
    -o-transition: left 1s;
    transition: left 1s;
}

#reboote form {
	margin: 0 auto;
	text-align: center
    height: inherit;
}

#onglet {
    width: 27px;
    height: 35px;
    left: 200px;
    margin: 0;
    padding: 0;
    position: relative;
    top: -95px;
}


#reboote:hover {
    cursor: pointer;
    left: -5px;
}


#formNom {
	margin: 15% auto;
	width: 700px;
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
	text-align: center;
}

#livrestere {
    width: 167px;
    height: 262px;
    position: relative;
    float: right;
    top: -80px
}

.colonnes {
	vertical-align: top;
	-moz-column-count:2;
	-webkit-column-count:2;
	-o-column-count:2;
	column-count:2;
	-moz-column-gap:20px;
	-webkit-column-gap:20px;
	-o-column-gap:20px;
	column-gap:20px;
}

/* test pour boutons CSS */

.css3button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #050505;
	padding: 2px 10px;
	margin: 0 0 0 10px;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#ebebeb 50%,
		#ddd6ff 50%,
		#baccff);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffffff),
		color-stop(0.50, #ebebeb),
		color-stop(0.50, #ddd6ff),
		to(#baccff));
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #6badff;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(180,210,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(180,210,255,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(180,210,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(180,255,210,1);
}
.css3button:hover {
	cursor: pointer;
	background: -moz-linear-gradient(
		top,
		#baccff 0%,
		#ddd6ff 50%,
		#dbdbdb 50%,
		#ffffff);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#baccff),
		color-stop(0.50, #ddd6ff),
		color-stop(0.50, #dbdbdb),
		to(#ffffff));
}

#reboote .css3button {
    display: block;
    width: 120px;
    margin: 0 0 10px 30px;
}

#flattr {
	text-align: center;
	margin: 0 auto;
	padding: 10px 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
}

#couverture {
    display: none;
    height: 800px;
    width: 1300px;
}

#dockImg {
    width: 600px;
    height: 800px;
    overflow: hidden;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    left: 700px;
}

#lImage {
    height: 800px;
}

#quadCouv {
    width: 600px;
    height: 800px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
    background-color: #000;
    margin:  0;
    padding:  0;
    position: absolute;
}

#tranche {
    width: 800px;
    height: 100px;

    border-left: 2px solid #000;
    border-right: 2px solid #000;
    position: relative;
    float: left;
    left: 250px;
    top: -452px;
    margin:  0;
    padding:  0;

    background-color: #000;

    /*** Rotation de la DIV pour faire la tranche ***/
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    filter: progid:DXImageTransform.Microsoft.Matrix(
            sizingMethod='auto expand',
            M11=0.699,
            M12=-0.630,
            M21=0.630,
            M22=0.699
    ); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix( SizingMethod='auto expand', M11=0.699,
    M12=-0.630,
    M21=0.630,
    M22=0.699) ";  /* IE8 */ background-color : #666;
}

.centrage {
    vertical-align: middle;
    display: inline-block;
    line-height: normal;
}

#overlay {
    width: 1300px;
    height: 800px;
    position: absolute;
}

#reboote { display: none; }