/*** CSS pour maquette « Grallimard » ***/
/***            Modèle n°3            ***/

#dockImg {
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    border-top: 2px solid #000;
    background-color: #000;
}

#lImage {
    border: 6px solid #d7d7d7;
    height: 600px;
    width: 400px;
    position: relative;
    left: 96px;
    top: 116px;
}

#lAuteur {
    position: absolute;
    bottom: 30px;
    width: inherit;
}

#auteur {
    margin: 0;
    text-align: center;
    width: inherit;
    display: block;
    font-family: 'Nunito', sans-serif;
    font-size: 26px;
    color: #fff;
}

#leTitre {
    position: absolute;
    top: 25px;
    /*left: 130px;*/
    width: inherit;
    text-align: center;
}

#ligne1, #ligne2 {
    display: inline;
    margin: 0;
    padding-left: 10px;
    text-align: center;
    width: inherit;
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    /*background-color: #666;*/
    color: #fff;
}

#ligne2 {
    text-indent: 25px;
}

#lEditeur {
    position: absolute;
    bottom: 0;
    width: inherit;
}

#edition {
    margin: 0;
    text-align: center;
    width: inherit;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #666;
    color: #fff;
}

#lauteurTranche {
    display: none;
}

#leTitreTranche {
    height: 96px;
    width: 800px;
    position: relative;
}

#titreTranches {
    margin: 0;
    padding: 0;
    text-align: center;
    text-indent: 30px;
    font-family: 'Nunito', sans-serif;
    font-size: 26px;
    line-height: 96px;
    color: #fff;
}

#editeurTranche {
    width: 100px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100px;

    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.Matrix(
            sizingMethod='auto expand',
            M11=0.699,
            M12=-0.630,
            M21=0.630,
            M22=0.699
    ); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix( SizingMethod='auto expand', M11=0.699,
    M12=-0.630,
    M21=0.630,
    M22=0.699) ";  /* IE8 */ background-color : #666;
}

#editionTranches {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #fff;
    width: 100px;
    height: 100px;
    line-height: 100px;
    padding: 0;
    margin: 0;
}

#imgEdTranche {
    width: 75px;
    position: absolute;
    float: left;
    top: 0;
    left: 0;
    margin: 12px;

    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.Matrix(
            sizingMethod='auto expand',
            M11=0.699,
            M12=-0.630,
            M21=0.630,
            M22=0.699
    ); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix( SizingMethod='auto expand', M11=0.699,
    M12=-0.630,
    M21=0.630,
    M22=0.699) ";  /* IE8 */ background-color : #666;
}

#lAuteurQuad {
    position: absolute;
    top: 100px;
    right: 70px;
}

#auteurQuad {
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    color: #999;
}

#leTitreQuad {
    position: absolute;
    top: 120px;
    right: 70px;
}

#titreQuad {
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: 'Nunito', sans-serif;
    font-size: 26px;
    color: #fff;
}

#lEditeurQuad {
    position: absolute;
    bottom: 0;
    width: inherit;
}

#editionQuad {
    margin: 0;
    padding: 0;
    text-align: center;
    width: inherit;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #fff;
}

#imgEdQuad {
    position: relative;
    top: -103px;
    left: 488px;
    display: none;
}

#resume {
    position: absolute;
    top: 480px;
    width: 450px;
    padding-left: 80px;
}

#r1, #r3, #r4 {
    margin: 0;
    padding: 0;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #fff;
}

#r2 {
    background: transparent url("images/bandeau.png") no-repeat 0 0;
    width: 535px;
    height: 144px;
    position: absolute;
    top: -480px;
    left: 0;
}

#r4 {
    font-style: italic;
    /*padding: 10px 0 0 0;*/
    position: absolute;
    top: -422px;
    left: 0;
    text-align: center;
    width: 430px;

    -webkit-transform: rotate(345deg);
    -moz-transform: rotate(345deg);
    -o-transform: rotate(345deg);
    filter: progid:DXImageTransform.Microsoft.Matrix(
            sizingMethod='auto expand',
            M11=0.699,
            M12=-0.630,
            M21=0.630,
            M22=0.699
    ); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix( SizingMethod='auto expand', M11=0.699,
    M12=-0.630,
    M21=0.630,
    M22=0.699) ";  /* IE8 */ background-color : #f00;
}

#bio {
    position: absolute;
    top: 310px;
    width: 450px;
    padding-left: 80px;
}

#txtBio {
    margin: 0;
    padding: 0;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #fff;
    font-style: italic;
}

#avis {
    position: absolute;
    top: 190px;
    width: 450px;
    padding-left: 80px;
}

#txtAvis {
    margin: 0;
    padding: 5px;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    color: #fefefe;
    background-color: #555;
    display: block;
    /*height:20px;*/

}

#txtCritique {
    margin: 0;
    padding: 0 20px 0 0;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #fff;
    font-style: italic;
}

#codes {
    position: absolute;
    top: 610px;
    width: 162px;
    padding-left: 400px;
}

#isbn {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #fff;
}

#credifoto {
    position: absolute;
    bottom: 60px;
    padding-left: 30px;
    width: 350px;
    overflow: hidden;
}

#credit {
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #fff;
    font-style: italic;
}

#credit a, #credit a:active, #credit a:hover, #credit a:visited {
    text-decoration: none;
    color: #999;
}