/***  CSS pour maquette « J’l’ai Lu »  ***/
/***            Modèle n°4            ***/

#dockImg {
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    border-top: 2px solid #000;
    background-color: #000;
}

#lImage {
    height: 600px;
    width: 600px;
    position: relative;
    left: 0;
    top: 0;
}

#lAuteur {
    position: absolute;
    bottom: 150px;
    width: inherit;
}

#auteur {
    margin: 0;
    text-align: center;
    width: inherit;
    display: block;
    font-family: 'Nunito', sans-serif;
    font-size: 26px;
    color: #fff;
}

#leTitre {
    position: absolute;
    bottom: 65px;
    width: inherit;
    text-align: center;
}

#ligne1, #ligne2 {
    display: block;
    margin: 0;
    text-align: center;
    width: inherit;
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    color: #fff;
    line-height: 35px;
}

#lEditeur {
    position: absolute;
    bottom: 20px;
    width: inherit;
}

#edition {
    margin: 0;
    text-align: center;
    width: inherit;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #fff;
}

#lauteurTranche {
    height: 50px;
    left: 60px;
    position: absolute;
    top: 0;
    width: 600px;
}

#auteurTranches {
    color: #fff;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}

#leTitreTranche {
    height: 40px;
    left: 60px;
    position: absolute;
    top: 40px;
    width: 600px;
}

#titreTranches {
    font-size: 26px;
    line-height: 40px;
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: 'Nunito', sans-serif;
    color: #fff;
}

#editeurTranche {
    display: none;
}

#editionTranches {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #fff;
    width: 100px;
    height: 100px;
    line-height: 100px;
    padding: 0;
    margin: 0;
}

#imgEdTranche {
    width: 75px;
    position: absolute;
    float: left;
    top: 0;
    right: 0;
    margin: 12px;

    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.Matrix(
            sizingMethod='auto expand',
            M11=0.699,
            M12=-0.630,
            M21=0.630,
            M22=0.699
    ); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix( SizingMethod='auto expand', M11=0.699,
    M12=-0.630,
    M21=0.630,
    M22=0.699) ";  /* IE8 */ background-color : #666;
}

#lAuteurQuad {
    position: absolute;
    top: 50px;
    left: 30px;
}

#auteurQuad {
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: 50px;
    font-family: 'Nunito', sans-serif;
    font-size: 26px;
    color: #000;
}

#leTitreQuad {
    display: none;
}

#lEditeurQuad {
    bottom: 160px;
    left: 30px;
    position: absolute;
}

#editionQuad {
    margin: 0;
    padding: 0;
    text-align: center;
    width: inherit;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #fff;
}

#imgEdQuad {
    position: relative;
    top: -103px;
    left: 488px;
    display: none;
}

#resume {
    border-bottom: 1px solid #999;
    border-top: 1px solid #999;
    margin: 0 80px;
    padding: 30px 0;
    position: absolute;
    top: 270px;
    width: 440px;
}

#r1, #r3, #r4 {
    margin: 0;
    padding: 0;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #fff;
}

#r2 {
   display: none;
}

#r4 {
    font-style: italic;
    text-align: right;
    padding-top: 40px;
}

#bio {
    margin: 0 80px;
    position: absolute;
    top: 95px;
    width: 440px;
}

#txtBio {
    margin: 0;
    padding: 0;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #fff;
    font-style: italic;
}

#avis {
    margin: 0 80px;
    position: absolute;
    bottom: 220px;
    width: 440px;
    background-color: #000;
}

#txtAvis {
    margin: 0;
    padding: 5px;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    color: #fefefe;
    display: block;

}

#txtCritique {
    margin: 0;
    padding: 0 20px 5px 0;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #fff;
    font-style: italic;
}

#codes {
    position: absolute;
    top: 610px;
    width: 162px;
    padding-left: 400px;
}

#isbn {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #fff;
}

#credifoto {
    position: absolute;
    bottom: 60px;
    padding-left: 30px;
    width: 350px;
    overflow: hidden;
}

#credit {
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #fff;
    font-style: italic;
}

#credit a, #credit a:active, #credit a:hover, #credit a:visited {
    text-decoration:  none;
    color: #999;
}