/*** CSS pour maquette « Pacte Nord » ***/
/***            Modèle n°1            ***/

#lAuteur {
    position: absolute;
    top: 50px;
}

#auteur {
    margin: 0;
    padding-left: 30px;
    text-align: left;
    width: 300px;
    display: block;
    font-family: 'Nunito', sans-serif;
    font-size: 26px;
    background-color: #666;
    color: #fff;
}

#leTitre {
    position: absolute;
    top: 125px;
    left: 130px;
}

#ligne1, #ligne2 {
    margin: 0;
    padding-left: 30px;
    text-align: left;
    width: 450px;
    display: block;
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    background-color: #666;
    color: #fff;
}

#ligne2 {
    text-indent: 25px;
}

#lEditeur {
    position: absolute;
    top: 750px;
}

#edition {
    margin: 0;
    padding-left: 30px;
    text-align: left;
    width: 300px;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: #666;
    color: #fff;
}

#lauteurTranche {
    display: none;
}

#leTitreTranche {
    height: 96px;
    width: 630px;
    position: relative;
}

#titreTranches {
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: 30px;
    font-family: 'Nunito', sans-serif;
    font-size: 26px;
    line-height: 96px;
    color: #fff;
}

#editeurTranche {
    width: 150px;
    position: absolute;
    float: left;
    top: 0;
    right: 100px;
    height: 100px;
}

#editionTranches {
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #fff;
    height: 100px;
    line-height: 100px;
    padding: 0;
    margin: 0;
}

#imgEdTranche {
    width: 75px;
    position: absolute;
    float: left;
    top: 0;
    right: 0;
    margin: 12px;
}

#lAuteurQuad {
    position: absolute;
    top: 40px;
}

#auteurQuad {
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: 50px;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    color: #999;
}

#leTitreQuad {
    position: absolute;
    top: 70px;
}

#titreQuad {
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: 50px;
    font-family: 'Nunito', sans-serif;
    font-size: 26px;
    color: #fff;
}

#lEditeurQuad {
    position: absolute;
    bottom: 0;
}

#editionQuad {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 486px;
    height: 50px;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: #666;
    color: #fff;
    line-height: 50px;
}

#imgEdQuad {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 8px;
}

#resume {
    position: absolute;
    top: 120px;
    width: 450px;
    padding-left: 80px;
}

#r1, #r3, #r4 {
    margin: 0;
    padding: 0;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #fff;
}

#r2 { display: none; }

#r4 {
    font-style: italic;
    padding: 10px 0 0 0;
}

#bio {
    position: absolute;
    top: 310px;
    width: 450px;
    padding-left: 80px;
}

#txtBio {
    margin: 0;
    padding: 0;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #fff;
    font-style: italic;
}

#avis {
    position: absolute;
    top: 455px;
    width: 450px;
    padding-left: 80px;
}

#txtAvis {
    margin: 0;
    padding: 5px;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    color: #fefefe;
    background-color: #555;
    display: block;
}

#txtCritique {
    margin: 0;
    padding: 0 20px 0 0;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #fff;
    font-style: italic;
}

#codes {
    position: absolute;
    top: 530px;
    width: 162px;
    padding-left: 400px;
}

#isbn {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #fff;
}

#credifoto {
    position: absolute;
    top: 700px;
    padding-left: 30px;
}

#credit {
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #fff;
    font-style: italic;
}

#credit a, #credit a:active, #credit a:hover, #credit a:visited {
    text-decoration:  none;
    color: #999;
}